/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
.container{
    width: 1170px;
    margin: 0 auto 0 auto;

}

.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
}
.logo span{
    color: #2196F3;
}
header nav{
    margin-left: 93px;
}
header a{
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.143;
}
header a:hover{
    color: #2196F3;

}
header a + a{
    margin-left: 50px;
}
.header-email{
    margin-left: auto;
}
.header-tel{
    margin-left: 50px;
}


.hero{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}